header.header
    .header__column
        <i class="fab fa-youtube"></i>

    .header__column
        ul
            li
                a(href="#") Join
            li
                a(href="#") Log In