.social-login
    button.social-login__github
        a(href=routes.github)
            span
                <i class="fab fa-github"></i>
            | Continue with Github
    button.social-login__facebook
        span
            <i class="fab fa-facebook"></i>
        | Continue with Facebook