.social-login
    button.social-login__github
        a(href=routes.github)
            span
                <i class="fab fa-github"></i>
            | Continue with Github
    button.social-login__google
        a(href=routes.google)
            span
                <i class="fab fa-google"></i>            
            | Continue with Google
    button.social-login__instagram
        a(href=routes.instagram)
            span
                <i class="fab fa-instagram"></i>            
            | Continue with Intagram