//base file for all the pages
//blueprint for all the other pages

doctype html
html
    head
        title WeTube
    body
        header 
            h1 WeTube
        main
            block content
        footer
            span &copy; WeTube