extends layouts/main.pug

block content
    .form-container
        input(type="password", name="password", placeholder="Current password")
        input(type="password", name="newPassword", placeholder="New password")
        input(type="password", name="newPassword2", placeholder="Verify New password")
        input(type="submit", value="Change Password")